aiohttp==3.8.3
aiosignal==1.3.1
-e git+https://github.com/team-12-csc-510/amatsa.git@b0dcb58c11764c20b5b42365c46c091d00bd393a#egg=amatsa_client
astroid==2.12.10
async-timeout==4.0.2
attrs==22.1.0
black==22.10.0
boto3==1.26.21
boto3-stubs==1.26.21
botocore==1.29.21
botocore-stubs==1.29.21
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
coverage==6.5.0
dill==0.3.5.1
elastic-transport==8.4.0
elasticsearch==8.4.2
flake8==6.0.0
frozenlist==1.3.3
GPUtil==1.4.0
idna==3.4
iniconfig==1.1.1
isort==5.10.1
jmespath==1.0.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
multidict==6.0.2
mypy==0.991
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.10.2
platformdirs==2.5.2
pluggy==1.0.0
psutil==5.9.2
py==1.11.0
pycodestyle==2.10.0
pyflakes==3.0.1
pylint==2.15.3
pyparsing==3.0.9
pytest==7.1.3
python-dateutil==2.8.2
python-dotenv==0.21.0
PyYAML==6.0
requests==2.28.1
s3transfer==0.6.0
six==1.16.0
speedtest-cli==2.1.3
tomli==2.0.1
tomlkit==0.11.5
types-awscrt==0.15.3
types-psutil==5.9.5.5
types-PyYAML==6.0.12.2
types-requests==2.28.11.5
types-s3transfer==0.6.0.post5
types-urllib3==1.26.25.4
typing_extensions==4.4.0
urllib3==1.26.12
wrapt==1.14.1
yarl==1.8.1

watchdog~=2.1.9
setuptools~=63.4.3
